{{ $iswork := false }}

{{- if eq .chezmoi.hostname "BCG81230" }}
{{- $iswork = true }}
{{- end }}

{{- $email := "" -}}
{{- if (hasKey . "email") -}}
  {{-   $email = .email -}}
{{- else -}}
  {{-   $email = promptString "email" -}}
{{- end -}}


{{- if $iswork }}
encryption = "age"
useBuiltinAge = "off"
[age]
  identity = "~/.config/age/keys.txt"
  recipient = "age1kule0g0lfzr9ft5h3at4jxfts8qen6lcjnyl0e7m5rv0serl55nq86muh0"
  symmetric = true
{{- end }}

[data]
  iswork = {{ $iswork }}
  email = {{ $email | quote }}
