{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "hey"
brew "jq"
brew "yq"
brew "go"
cask "blender"
cask "iterm2"
cask "steam"
cask "visual-studio-code"
cask "vlc"
cask "font-cascadia-code-pl"
cask "font-cascadia-mono-pl"
cask "font-meslo-lg-nerd-font"
{{- if not .iswork }}
cask "goland"
{{- end }}
{{- if .iswork }}
brew "aws-cli"
brew "awscurl"
brew "aws-vault"
brew "checkov"
brew "dive"
brew "docker-credential-helper-ecr"
brew "intellij-idea"
brew "pipenv"
brew "pre-commit"
brew "sops"
brew "terraform"
brew "terraform-docs"
brew "terragrunt"
brew "tflint"
cask "drawio"
cask "lastpass"
cask "ngrok"
{{- end }}
EOF
{{ end -}}
