{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "bash"
brew "coreutils"
brew "direnv"
brew "git"
brew "go"
brew "hey"
brew "jq"
brew "moreutils"
brew "pipenv"
brew "pre-commit"
brew "readline"
brew "step"
brew "yq"
cask "alt-tab"
cask "iterm2"
cask "firefox"
cask "font-cascadia-code-pl"
cask "font-cascadia-mono-pl"
cask "font-jetbrains-mono-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-jetbrains-mono"
cask "rectangle"
cask "spotify"
cask "visual-studio-code"
{{- if not .iswork }}
cask "1password"
cask "1password-cli"
cask "blender"
cask "goland"
cask "pycharm"
cask "steam"
cask "vlc"
{{- end }}
{{- if .iswork }}
brew "amazon-ecs-cli"
brew "argocd"
brew "aws-iam-authenticator"
brew "aws-vault"
brew "awscli"
brew "awscurl"
brew "checkov"
brew "cosign"
brew "dive"
brew "docker-credential-helper-ecr"
brew "eksctl"
brew "gitlab-ci-local"
brew "helm"
brew "helmfile"
brew "infracost"
brew "istioctl"
brew "k9s"
brew "kind"
brew "kubelogin"
brew "kube-linter"
brew "kubernetes-cli"
brew "kustomize"
brew "lastpass-cli"
brew "opa"
brew "packer"
brew "pipenv"
brew "pre-commit"
brew "python@3.10"
brew "sops"
brew "stunnel"
brew "teleport"
brew "terraform"
brew "terraform-docs"
brew "terragrunt"
brew "tflint"
cask "drawio"
cask "intellij-idea"
cask "lastpass"
cask "miro"
cask "ngrok"
cask "wireshark"
{{- end }}
EOF
{{ end -}}
